* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.topbar {
  border-color: hsl(210, 8%, 75%);
  position: fixed;
  background-color: #0077b6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 0 20px;
  height: 60px;
  display: grid;
  grid-template-columns: 2fr 10fr 0.4fr 1fr;
  align-items: center;
  z-index: 1;
}

.topbar h2 {
  color: #fff;
  cursor: pointer;
}

/* img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.topbar .search {
  position: relative;
  width: 60%;
  justify-self: center;
}

.search input {
  width: 100%;
  min-width: 128px;
  height: 40px;
  /* padding: 0 40px; */
  margin-top: 9px;
  font-size: 16px;
  outline: #565656;
  border: none;
  border-radius: 10px;
  background: #fff;
}

.search i {
  position: absolute;
  right: 11px;
  top: 16px;
  cursor: pointer;
  font-size: 23px;
}

.fa-bell {
  justify-self: left;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 19px;
  height: 25px;
  font-size: 20px;
}

.fa-bell:hover {
  color: #fff;
  transition: 0.5s;
}

.user {
  position: relative;
  width: 50px;
  height: 50px;
  justify-self: right;
}

.topbar button {
  /* height: 150px; */
  top: -4px;
  right: 100px;
}

/* sidebar */

.sidebar {
  /* color: ; */
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 60px;
  width: 250px;
  height: calc(100% - 0.1px);
  background: white;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.sidebar ul li {
  width: 100%;
  list-style: none;
}

.sidebar ul li:hover {
  background: #fff;
}

.sidebar ul li:hover a {
  color: #0077b6;
  background-color: #cecece;
  /* border-radius: 50px; */
  margin-left: 0px;
}

.icons {
  position: relative;
  color: #fff;
  margin-left: 15px;
  font-size: 30px;
  top: 27px;
}

.sidebar ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
  height: 70px;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 15px;
  /* justify-content: center; */
}

.sidebar ul li a i {
  min-width: 60px;
  font-size: 24px;
  text-align: center;
}

.sidebar :where(ul, li, a) {
  color: aquamarine;
}

.sidebar .menu-bottom ul li a {
  color: black;
  height: 60px;
}

.sidebar .menu-bottom ul li:hover a {
  /* color: red; */
  background-color: rgb(255, 55, 55);
  color: white;
  height: 60px;
}

/* main */

.Analytics {
  /*bagian body*/
  position: absolute;
  top: 60px;
  width: calc(100% - 260px);
  min-height: calc(100vh - 60px);
  left: 260px;
  background: #fff;
}

.Analytics h1 {
  text-align: center;
}

/* .cards {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
} */

/* .cards .card {
  /*card header*/
/* padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); */
/* }  */

/* .number { */
/*font yang ada di heade*/
/* font-size: 35px;
  font-weight: 500;
  color: black;
} */

/* .card-name {
  color: #888;
  font-weight: 600;
} */

/* .icon-box i {
  font-size: 45px;
  color: #299b63;
} */

/* charts */

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}

.chart {
  /*chart grafik*/
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.chart h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #666;
  text-align: center;
}

@media (max-width: 1115px) {
  .sidebar {
    width: 60px;
  }
  .main {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media (max-width: 990px) {
  .sidebar {
    width: 20%;
  }
  .logo h2 {
    font-size: 18px;
  }
  .Analytics h1 {
    font-size: 25px;
  }
}

@media (max-width: 880px) {
  /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
  .logo h2 {
    font-size: 18px;
  }
  .fa-bell {
    justify-self: left;
  }
  .cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .sidebar {
    width: 20%;
  }
  .sidebar ul li a i {
    width: 100px;
  }
  .sidebar ul li a {
    width: 10px;
  }
  .main {
    width: calc(100% - 60px);
    left: 60px;
  }
  .charts {
    grid-template-columns: 1fr;
  }
  .doughnut-chart {
    padding: 50px;
  }
  #doughnut {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .topbar {
    grid-template-columns: 1fr 5fr 0.4fr 1fr;
  }
  .logo h2 {
    font-size: 17px;
  }
  .sidebar {
    width: 27%;
  }
  .sidebar ul li a {
    font-size: 13px;
    width: 15px;
  }
  .sidebar ul li a i {
    font-size: 20px;
  }
  .search {
    width: 80%;
  }
  .search input {
    padding: 0 20px;
  }
  .fa-bell {
    margin-right: 5px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .doughnut-chart {
    padding: 10px;
  }
  #doughnut {
    padding: 0px;
  }
  .user {
    width: 40px;
    height: 40px;
  }
}
