/*navigation's tyle*/
.navigation {
  width: 100%;
  padding: 10px 0 10px 0;
  height: 758px;
  background-image: linear-gradient(rgba(16, 16, 16, 0.4), rgba(48, 48, 48, 0)),
    url(../img/IT-PLN.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation .box-navigation {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navigation .box-navigation .box:nth-child(1) h1 {
  font-size: 24px;
  color: aliceblue;
}

.navigation .box-navigation .box:nth-child(2) ul {
  display: flex;
  flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li {
  list-style-type: none;
  margin-left: 30px;
}

.navigation .box-navigation .box:nth-child(2) ul h1 {
  color: aliceblue;
  right: 50px;
}

.navigation .box-navigation .box:nth-child(2) ul li:hover {
  color: #fff;
}

.navigation .box-navigation .box:nth-child(2) ul li a {
  text-decoration: none;
  color: aliceblue;
  transition: all 0.3s ease;
  font-size: 1.3rem;
  padding: 20px;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  color: #00b4d8;
  text-decoration: underline;
  transition: 0.3s;
}

.navigation .box-navigation .box:nth-child(3) {
  display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
} /*navigation's style*/
